//Breakpoints
$tablet-breakpoint: 688px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1440px;

//Fonts
$primary-font: 'Mallanna', sans-serif;
$secondary-font: 'Alegreya Sans', sans-serif;
$secondary-font-light: 'Alegreya Sans Light', sans-serif;
$secondary-font-bold: 'Alegreya Sans Bold', sans-serif;
$heading-font: 'Fusi Bold', sans-serif;

//Colors
$primary-color:       #171717;
$secondary-color:     #C3922E;
$danger-color:        #FF5959;
$light-color:         #CBCCC6;
$active-color:        #2EAAC3; 