header {
    .navbar {
        @include tablet {
            padding-right:100px;
            padding-left:100px;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }
    .collapse.navbar-collapse {
        justify-content: flex-end;
    }
}