@font-face {
    font-family: 'Fusi';
    src: url('../../assets/fonts/FusiNormal.eot');
    src: url('../../assets/fonts/FusiNormal.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/FusiNormal.woff2') format('woff2'),
        url('../../assets/fonts/FusiNormal.woff') format('woff'),
        url('../../assets/fonts/FusiNormal.ttf') format('truetype'),
        url('../../assets/fonts/FusiNormal.svg#FusiNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fusi Bold';
    src: url('../../assets/fonts/FusiBold.eot');
    src: url('../../assets/fonts/FusiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/FusiBold.woff2') format('woff2'),
        url('../../assets/fonts/FusiBold.woff') format('woff'),
        url('../../assets/fonts/FusiBold.ttf') format('truetype'),
        url('../../assets/fonts/FusiBold.svg#FusiBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Light';
    src: url('../../assets/fonts/AlegreyaSans-Light.eot');
    src: url('../../assets/fonts/AlegreyaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Light.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Light.svg#AlegreyaSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Italic';
    src: url('../../assets/fonts/AlegreyaSans-Italic.eot');
    src: url('../../assets/fonts/AlegreyaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Italic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Italic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Italic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Italic.svg#AlegreyaSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Extra Bold Italic';
    src: url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-ExtraBoldItalic.svg#AlegreyaSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Bold Italic';
    src: url('../../assets/fonts/AlegreyaSans-BoldItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-BoldItalic.svg#AlegreyaSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Extra Bold';
    src: url('../../assets/fonts/AlegreyaSans-ExtraBold.eot');
    src: url('../../assets/fonts/AlegreyaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-ExtraBold.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-ExtraBold.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-ExtraBold.svg#AlegreyaSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Bold';
    src: url('../../assets/fonts/AlegreyaSans-Bold.eot');
    src: url('../../assets/fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Bold.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Bold.svg#AlegreyaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Black';
    src: url('../../assets/fonts/AlegreyaSans-Black.eot');
    src: url('../../assets/fonts/AlegreyaSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Black.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Black.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Black.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Black.svg#AlegreyaSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Black Italic';
    src: url('../../assets/fonts/AlegreyaSans-BlackItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-BlackItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-BlackItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-BlackItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-BlackItalic.svg#AlegreyaSans-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Thin Italic';
    src: url('../../assets/fonts/AlegreyaSans-ThinItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-ThinItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-ThinItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-ThinItalic.svg#AlegreyaSans-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Light Italic';
    src: url('../../assets/fonts/AlegreyaSans-LightItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-LightItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-LightItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-LightItalic.svg#AlegreyaSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url('../../assets/fonts/AlegreyaSans-Medium.eot');
    src: url('../../assets/fonts/AlegreyaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Medium.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Medium.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Medium.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Medium.svg#AlegreyaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Thin';
    src: url('../../assets/fonts/AlegreyaSans-Thin.eot');
    src: url('../../assets/fonts/AlegreyaSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Thin.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Thin.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Thin.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Thin.svg#AlegreyaSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans Italic';
    src: url('../../assets/fonts/AlegreyaSans-MediumItalic.eot');
    src: url('../../assets/fonts/AlegreyaSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-MediumItalic.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-MediumItalic.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-MediumItalic.svg#AlegreyaSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../assets/fonts/AlegreyaSans-Regular.eot');
    src: url('../../assets/fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../../assets/fonts/AlegreyaSans-Regular.woff') format('woff'),
        url('../../assets/fonts/AlegreyaSans-Regular.ttf') format('truetype'),
        url('../../assets/fonts/AlegreyaSans-Regular.svg#AlegreyaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h2 {
    @extend %h2;
}

p {
    @extend %p;
}

.section-title {
    @extend %section-title;
}

.section-subtitle {
    @extend %section-subtitle;
}

.section-title-lg {
    @extend %section-title-lg;
}

.alert {
    font-family: 'Alegreya Sans Light';
    letter-spacing: 2px;
}

.table {
    thead {
        th {
            font-size: rem(16px);
            @extend %table-h;
            @include tablet {
                font-size: rem(24px);
            }
            @include desktop {
                font-size: rem(32px);
            }
        }
    }
    tbody {
        font-size: rem(14px);
        @include tablet {
            font-size: rem(24px);
        }
        @include desktop {
            font-size: rem(32px);
        }
        th {
            @extend %table-bh;
        }
        td {
            @extend %table-bd;
        }
        &.large {
            font-size: rem(16px);
            @include tablet {
                font-size: rem(32px);
            }
        }
    }
}
