.home {
    .fullscreen-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        height: 300px;
        @include desktop {
            top:0;
            height: 620px;
        }
    }
    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        @include tablet {
            width: 100%;
            height: auto;
        }
        @include desktop {
            top:-80px;
            height: auto;
        }
    }
    .inner-content {
        @extend %content-padding;
    }
    .hero-banner {
        position: relative;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include desktop {
            min-height: 620px;
        }
    }
    #explore-gaming {
        .main-title {
            @include tablet {
                font-size: rem(40px);
            }
            @include desktop {
                font-size: rem(56px);
                letter-spacing: 6px;
            }
        }
        .main-desc {
            @extend %content-padding;
            @include tablet {
                padding-bottom: rem(68px);
            }
            @include desktop {
                max-width: 600px;
                margin: 0 auto;
                margin-bottom: rem(80px);
                padding: 0;
            }
        }
    }
    #bingo {
        background: url('../../assets/img/home-bingo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        @include tablet {
            padding-top: rem(148px);
            padding-bottom: rem(65px);
        }
        @include desktop {
            min-height: 700px;
            display: flex;
            align-items: flex-end;
        }
        .inner-bingo-content {
            max-width: 465px;
            @include desktop {
                max-width: 700px;
            }
        }
        h2 {
            color: #CBCCC6;
            text-align: start;
        }
    }
    #taptix {
        background: url('../../assets/img/home-machines.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        @include tablet {
            padding-top: rem(215px);
            padding-bottom: rem(65px);
        }
        @include desktop {
            min-height: 700px;
            display: flex;
            align-items: flex-end;
        }
        .inner-taptix-content {
            max-width: 465px;
            margin-left: auto;
            @include desktop {
                max-width: 700px;
            }
        }
        h2 {
            color: #CBCCC6;
            text-align: end;
        }
        .btn-group {
            @include tablet{
                justify-content: flex-end;
            }
        }
    }
    #jackpots-home {
        padding-top: rem(64px);
        @include tablet {
            padding-top: rem(80px);
        }
        @include desktop {
            padding-bottom: rem(160px);
            padding-top: rem(120px);
        }
        .jackpot-time {
            color: white;
            text-align: center;
            font-size: rem(50px);
            width: 200px;
            margin: 0 auto;
            position: relative;
            padding-bottom: rem(80px);
            @include tablet {
                padding-top: rem(80px);
                width: 312px;
            }
            @include desktop {
                padding-top: rem(0px);
                padding-bottom: rem(120px);
                width: 500px;
            }
            .time-box {
                position: absolute;
                top: 0;
                font-family: $heading-font;
                @include tablet {
                    top:80px;
                }
                @include desktop {
                    top: -10px;
                }
                span {
                    width: 42px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top:6px;
                    z-index: 0;
                    @include tablet {
                        left: 12px
                    }
                    @include desktop {
                        left: 3px;
                        width:100px;
                    }
                    &:nth-child(2) {
                        left: 46px;
                        @include tablet {
                            left: 55px;
                            width: 100px;
                        }
                        @include desktop {
                            left: 117px;
                            width:100px;
                        }
                    }
                    &:nth-child(3) {
                        left: 112px;
                        @include tablet {
                            left: 187px;
                        }
                        @include desktop {
                            left: 282px;
                            width:100px;
                        }
                    }
                    &:nth-child(4) {
                        left: 158px;
                        @include tablet {
                            left: 258px;
                        }
                        @include desktop {
                            left: 397px;
                            width:100px;
                        }
                    } 
                    &:nth-child(5) {
                        left: 200px;
                        top: 50px;
                        font-size: rem(20px);
                        @include tablet {
                            font-size: rem(32px);
                            top: 60px;
                            left: 320px;
                        }
                        @include desktop {
                            font-size: rem(60px);
                            top: 100px;
                            left: 510px;
                            letter-spacing: 10px;
                        }
                    }
                }
                @include tablet {
                    font-size: rem(65px);
                }
                @include desktop {
                    font-size: rem(122px);
                    min-height: rem(120px);
                    padding-bottom: rem(6px);
                }
            }
            .time-period {
                font-size: rem(20px);
                display: inline-block;
                @include tablet {
                    font-size: rem(32px)
                }
                @include desktop {
                    font-size: rem(60px)
                }
            }  
        }
        .taptix-jackpots {
            @include desktop {
                max-width: 588px;
                margin: 0 auto;
            }
        }
    }

    #bingo-callers {
        color: $light-color;
        @include tablet {
            padding-top: rem(0px);
            padding-bottom: rem(0px);
        }
        .bingo-caller-list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @include desktop {
                flex-direction: row;
            }
        }
        div {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include desktop {
                flex-direction: column;
            }
        }
        p {
            padding: rem(12px);
            font-size: 16px;
            min-width: 83px;
            text-align: start;
            width: 100%;
            margin-bottom: 0;
            font-family: $secondary-font-light;
            letter-spacing: 2px;
            font-weight: 300;
            &:first-child(){
                text-align: end;
                @include desktop {
                    text-align: center;
                    text-decoration: underline;
                }
            }
            @include tablet {
                font-size: rem(24px);
            }
            @include desktop {
                text-align: center;
            }
        }
    }
    #bingo-jackpots {
        h2 {
            @include desktop {
                padding-bottom: rem(4px);
            }
        }
        h4 {
            text-transform: uppercase;
            font-family: $secondary-font-light;
            @include desktop {
                font-size: rem(32px);
            }
        }
        .upik-title {
            padding-bottom: rem(8px);
        }
        .bingo-jackpots-subsection {
            padding-top: rem(40px);
            padding-bottom: rem(40px);
            @include desktop {
                padding-top: rem(60px);
                padding-bottom: rem(60px);
            }
        }
    }
    .toonie-pot {
        width: 82px;
        margin-right: auto;
        margin-left: auto;
        margin-top: rem(40px);
        @include tablet {
            width: 122px;
        }
        @include desktop {
            width: 277px;
        }
    }
}
