.packages {
    @include tablet {
        padding-top: rem(40px);
        padding-bottom: rem(60px);
    }
    .packages-main {
        padding-bottom: 0;
        @include tablet {
            padding-right: rem(70px);
            padding-left: rem(70px);
            padding-top: rem(40px);
        }
        @include desktop {
            padding-right: rem(200px);
            padding-left: rem(200px);
        }
        p {
            @include tablet {
                padding-bottom: rem(80px);
                font-size: rem(16px);
            }
            @include desktop {
                max-width: 586px;
                margin: 0 auto;
            }
        }
    }
    .packages-nav {
        list-style: none;
        padding: 0;
        font-family: $heading-font;
        text-transform: uppercase;
        color: $active-color;
        letter-spacing: 2px;
        font-size: rem(20px);
        padding-top: rem(16px);
        gap: 24px 0;
        margin: 0;
        @include tablet {
            display: flex;
            padding-top: rem(40px);
            flex-wrap: nowrap;
            padding-bottom: rem(40px);
            padding-top: rem(0px);
        }
        @include desktop {
            padding-bottom: rem(20px);
        }
        li {
            flex-basis: 50%;
            text-align: center;
            padding-top: rem(4px);
            padding-bottom: rem(4px);
            @include tablet {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
        a {
            color: $active-color;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 10px;
            }
        }
    }
    .package-sub-section {
        &>div {
            @include tablet {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        p {
            padding-bottom: rem(16px);
            @include tablet {
                font-size: rem(18px);
                width: 412px;
            }
            @include desktop {
                font-size: rem(18px);
                width: 580px;
            }
        }
    }
    .package-list {
        @include tablet {
            padding-top: rem(80px);
        }
        @include desktop {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding-top: rem(40px);
        }
    }
    .package-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 0;
        padding-bottom: rem(24px);
        max-width: 412px;
        margin: 0 auto;
        @include desktop {
            max-width: 100%;
            grid-template-columns: 1fr;
        }
        h5 {
           font-family: $secondary-font-bold;
           text-transform: uppercase;
           font-size: rem(14px);
           &:first-child() {
               color: $active-color;
           }
           @include tablet {
               font-size: rem(18px);
           }
           @include desktop {
            text-align: center;
            font-size: rem(24px);
        }
        }
        p {
            font-family: $secondary-font-bold;
            text-transform: uppercase;
            font-size: rem(18px); 
            text-align: end;
            align-self:center;
            @include tablet {
                font-size: rem(24px);
            }
            @include desktop {
                text-align: center;
                font-size: rem(32px);
            }
        }
    }
}