.play {
    img {
        width: 100%;
        padding-top: rem(16px);
        @include tablet {
            padding-top: rem(40px);
            padding-bottom: rem(40px);
        }
    }
    .tap-n-play-spread {
        padding-top: 0;
    }
    .mise-mobile {
        @include tablet {
            display: none;
        }
    }
    .mise-desktop {
        display: none;
        @include tablet {
            display: block;
        }
    }
    .packages-main {
        padding-bottom: rem(10px);
        @include tablet {
            padding-top: rem(80px);
        }
        .inner-content {
            padding-bottom: rem(50px);
            @include tablet {
                font-size: rem(16px);
                padding-bottom: rem(80px);
            }
        }
    }
    .play-nav {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        text-underline-offset: 5px;
        a {
            color: $secondary-color;
            text-transform: uppercase;
            font-family: $heading-font;
            display: inline-block;
            letter-spacing: 2px;
            opacity: 0.5;
            cursor: pointer;
            @include tablet {
                font-size: rem(32px);
            }
        }
        .active-win {
            text-decoration: underline;
            opacity: 1;
        }
    }
    .select-pattern {
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        button {
           width: 90%;
           font-size: rem(14px);
           display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
       }
       .dropdown-toggle:after{
            font-size: rem(20px);
        }
       .dropdown-menu {
           width: 90%;
       }
       .dropdown-menu{
        transform: translate3d(15px, 70px, 0px)!important;
    }
       @include tablet {
            display: none;
       }
    }
    .xtl-ticket-pattern {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: center;
        }
        img {
            @include tablet {
                max-width: 150px;
                padding-top: rem(32px);
                padding-bottom: 0;
            }
            @include desktop {
                max-width: 250px;
                padding-right: rem(40px);
                padding-left: rem(40px);
            }
        }
    }
    .inner-section {
        span {
            color: $secondary-color;
        }
        padding-bottom: rem(40px);
        &:last-child {
            padding-bottom: 0;
        }
        h4 {
            text-transform: uppercase;
            font-family: $secondary-font-bold;
            padding-bottom: rem(8px);
            letter-spacing: 2px;
            @include tablet {
                font-size: rem(30px);
            }
        }
        ol {
            padding-left: rem(24px);
            li {
                padding-left: rem(16px);
                font-size: 12px;
                line-height: 24px;
                padding-bottom: rem(8px);
                &::marker{
                    color: $secondary-color;
                    font-family: $heading-font;
                    font-size: 16px;
                }
                @include tablet {
                    font-size: rem(14px);
                }
            }
        }
    }
    #winning-patterns {
        h3 {
            font-size: rem(18px);
            padding-bottom: rem(18px);
            letter-spacing: 3px;
            @include tablet {
                font-size: rem(32px);
            }
        }
        nav {
            padding-bottom: rem(40px);
        }

    }
    .bingo-card {
        max-width: 300px;
        margin: 0 auto;
        display: block;
        display: none;
    }
    .winning-patterns {
        display: flex;
        justify-content: center;
    }
    .patterns-left, .patterns-right {
        display: none;
        @include tablet {
            display: block;
            padding-top: rem(40px);
        }
        a {
            color: white;
            padding-bottom: rem(24px);
            text-transform: uppercase;
            &:hover {
                color: $active-color;
                text-decoration: underline;
                text-underline-offset: 5px;
                background-color: transparent;
            }
            &:active {
                color: $active-color;
                text-decoration: underline;
                text-underline-offset: 5px;
                background-color: transparent;
            }
            &:focus {
                color: $active-color;
                text-decoration: underline;
                text-underline-offset: 5px;
                background-color: transparent;
            }
        }
    }
    .patterns-right {
        text-align: right;
    }
    .pattern-info {
        padding-bottom: rem(40px);
        visibility: hidden;
        @include tablet {
            padding-top: 0;
            // padding-bottom: rem(80px);
            font-size: rem(14px);
        }
    }
    .inner-section-alt {
        padding-bottom: rem(24px);
        h4 {
            color: $active-color;
            font-size: rem(12px);
            padding-bottom: rem(4px);
            text-transform: uppercase;
            @include tablet {
                font-size: rem(18px);
            }
        }
        h3 {
            @include desktop {
                padding-bottom: rem(64px);
            }
        }
    }
    #tapnplay-display {
        display: none;
    }
    .specials {
        padding-bottom: 0;
        @include desktop {
            display: flex;
            align-items: center;
            gap: 0 126px;
            padding-bottom: rem(120px);
            padding-top: rem(120px);
        }
        img {
            max-width: 384px;
            margin: 0 auto;
            display: block;
            padding-bottom: 0;
            @include desktop {
                padding-top:0;
            }
        }
    }
    .packages {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 0 126px;
            padding-bottom: rem(120px);

        }
        .content {
            order: 1;
        }
        img {
            max-width: 384px;
            margin: 0 auto;
            display: block;
            padding-bottom: 0;
            @include desktop {
                padding-top:0;
            }
        }
    }
    .upik8 {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 0 126px;
            padding-bottom: rem(120px);

        }
        img {
            max-width: 384px;
            margin: 0 auto;
            display: block;
            padding-bottom: 0;
            @include desktop {
                padding-top:0;
            }
        }
    }
    .tap-n-play-spread {
        display: none;
        @include tablet {
            display: block;
        }
    }
    .tap-n-play-spread-mobile {
        @include tablet {
            display: none;
        }
    }
}