.programs {
    td:hover {
        background-color: $secondary-color;
        .fa-download:before {
            color: $primary-color;
        }
    }
    @include tablet {
        padding-top: rem(40px);
        padding-bottom: rem(60px);
    }
    .programs {
        .inner-content {
            max-width: 788px;
            margin: 0 auto;
        }
    }
    .daily-prizes {
        .inner-content {
            max-width: 588px;
            margin: 0 auto;
        }
    }
    .inner-content {
        padding-bottom: rem(40px);
        @include tablet {
            padding-bottom: rem(80px);
        }
    }
    .container {
        @include tablet {
            padding-left: rem(70px);
            padding-right: rem(70px);

        }
        @include desktop {
            padding-right: rem(222px);
            padding-left: rem(222px);
        }
    }
    .programs {
        td {
            &:hover{
                cursor: pointer;
            }
        }
    }
    .table-header {
        font-size: rem(10px);
        font-family: $secondary-font-bold;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: 75px 50px 50px 50px 50px;
        text-align: center;
        border-bottom: solid 1px $secondary-color;
        h5 {
            border-right: solid 1px $secondary-color;
            align-self: center;
            min-height: 26px;
        }
    }
    .day {
        font-size: rem(12px);
        width: 75px;
    }
    .day-list {
        h5 {
            padding-top: rem(17px);
            padding-bottom: rem(17px);
            text-transform: uppercase;
        }

    }
    .program-table {
        thead {
            th {
                font-size: rem(10px);
                border-bottom: solid 1px $secondary-color;
                border-right: solid 1px $secondary-color;
                vertical-align: middle;
                width: 50px;
                z-index: 100;
                @include tablet {
                    font-size: rem(18px);
                    width: 125px;
                }
                @include desktop {
                    font-size: rem(24px);
                }
            }
            .day {
                font-size: rem(12px);
                @include tablet {
                    font-size: rem(18px);
                }
                @include desktop {
                    font-size: rem(24px);
                }
            }
        }
        tbody {
            font-size: rem(12px);
            @include tablet {
                font-size: rem(18px);
            }
            @include desktop {
                font-size: rem(24px);
            }
            th {
                border-right: solid 1px $secondary-color;
                padding-top: rem(17px);
                padding-bottom: rem(17px);
                font-family: $secondary-font;
            }
            &::before {
                content: none;
            }
            td {
                text-align: center;
                border-right: solid 1px $secondary-color;
                padding-top: rem(17px);
                padding-bottom: rem(17px);
                font-size: rem(16px);
            }
            .active-program {
                border-bottom: solid 1px $secondary-color;
                border-top:  solid 1px $secondary-color;
            }
            i {
                color: white;
                @include desktop {
                    font-size: rem(24px);
                }
            }
        }
        .daily-table {
            tbody {
                tr {
                    border-bottom: solid 1px $secondary-color;
                }
                th {
                    padding:0;
                    vertical-align: middle;
                }
                tr {
                    color: white;
                }
                td {
                    font-size: rem(12px);
                    padding-right: 4px;
                    padding-left: 4px;
                    font-family: $secondary-font;
                    border-right: none;
                    color:white;
                    @include tablet {
                        font-size: rem(18px);
                    }
                    @include desktop {
                        font-size: rem(24px);
                    }
                }
            }
            tr {
                &#active-row {
                    background-color: $secondary-color;
                    &>td {
                        color: black;
                    }
                    &>th {
                        color: black;
                    }
                }
            }
        }
    }
}